---
import ExperienceItem from "./ExperienceItem.astro"

const EXPERIENCE = [
  {
    date: "Enero 2026 - Actualmente",
    title: "FullStack Developer (Prácticas)",
    company: "Taller Empresarial 2.0",
    description: "Realice la optimización de una base de datos PostgreSQL, utilizando técnicas como Heap-Only Tuples, vistas materializadas o caching, como resultado los datos leidos por llamada aumentaron entre un 40% a 60% además de reducir la latencia de 50ms a 16ms.",
    link: "",
  },
  {
    date: "Enero 2025 - Marzo 2025",
    title: "BackEnd Developer (Prácticas)",
    company: "Taller Empresarial 2.0",
    description: "Desarrollé de 2 proyectos internos, utilizando tecnologías como Laravel, Tailwind o AlpineJs. Además de ayudar en la creación de una aplicación web sobre control de tarifas hosting, implemetando funcionalidades utilizando Django.",
    link: "",
  },
]
---

<section id={`${Astro.props.id}`} class="max-w-6xl mx-auto px-4 py-38 md:py-80 lg:py-20 -scroll-mt-12.5 lg:scroll-mt-18">
  <h2 class="text-3xl font-black mb-12 flex items-center gap-4 text-white">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="currentColor" class="w-8 h-8 text-cyan icon icon-tabler icons-tabler-filled icon-tabler-clock"><path stroke="none" d="M0 0h24v24H0z" fill="none" /><path d="M17 3.34a10 10 0 1 1 -14.995 8.984l-.005 -.324l.005 -.324a10 10 0 0 1 14.995 -8.336zm-5 2.66a1 1 0 0 0 -.993 .883l-.007 .117v5l.009 .131a1 1 0 0 0 .197 .477l.087 .1l3 3l.094 .082a1 1 0 0 0 1.226 0l.094 -.083l.083 -.094a1 1 0 0 0 0 -1.226l-.083 -.094l-2.707 -2.708v-4.585l-.007 -.117a1 1 0 0 0 -.993 -.883z" /></svg>
    Experiencia
  </h2>

  <ol class="relative">
    {
      EXPERIENCE.map((item) => (
        <li>
          <ExperienceItem {...item} />
        </li>
      ))
    }
  </ol>
</section>