---
import { Images } from "@assets/images";
import { Picture } from "astro:assets";
import ThemeButton from "./ThemeButton.astro";

const imageData = {
    src: Images.logos.logoAlfonso,
    alt: "Logo de Alfonso Adiego Luque",
};

const navData = [
    { name: "Inicio", href: "/#" },
    { name: "Experiencia", href: "/#projects" },
    { name: "Proyectos", href: "/#about" },
    { name: "Sobre mí", href: "/#contact" },
    { name: "Contacto", href: "/#contact" },
]
---
<header class="flex justify-center items-center px-[120px] md:mt-[20px]">
    <nav class="md:w-[80%] flex justify-between items-center px-[150px]">
        <button id="easterEggButton" class="relative opacity-0 cursor-pointer transition-transform active:scale-95">
            <Picture
            {...imageData}
            width={100}
            height={80}
            widths={[100, 120, 160, 200]}
            sizes="(max-width: 768px) 105px, 100px"
            formats={["avif", "webp"]}
            loading="eager"
            fetchpriority="high"
            decoding="async"
            class="w-[105px] md:w-[60px] h-auto object-contain logo-image"
            />
        </button>
        <ul class="flex flex-center items-center gap-8">
            {navData.map((item) => (
                <li class="md:text-base font-medium text-text-muted  transition-colors duration-300">
                    <a href={item.href} class="hover:text-cyan">{item.name}</a>
                </li>
            ))}
        </ul>
        <ThemeButton />
    </nav>
</header>

<script>
    const setupEasterEgg = () => {
        const easterEggButton = document.getElementById('easterEggButton');
        
        // Evitamos que el evento se añada dos veces si navegas por la web
        if (!easterEggButton || easterEggButton.hasAttribute('data-init')) return;
        easterEggButton.setAttribute('data-init', 'true');

        let clickCount = 5;
        let isActive = false;
        let canRedirect = false; // NUEVA VARIABLE: Controla si ya se puede ir al enlace

        easterEggButton.addEventListener('click', () => {
            
            if (isActive && !canRedirect) {
                return; 
            }

            if (isActive && canRedirect) {
                easterEggButton.classList.add('scale-150', 'opacity-0');
                easterEggButton.classList.remove('neon-hum', 'opacity-100');
                
                setTimeout(() => {
                    window.location.href = "https://www.google.com/";
                }, 1000); 
                return;
            }

            if (!isActive) {
                clickCount--;
            }

            if (clickCount === 0 && !isActive) {
                isActive = true;
                canRedirect = false;
                
                easterEggButton.classList.add('slide-in-blurred-top');
                easterEggButton.classList.remove('opacity-0', 'opacity-10', 'opacity-25', 'opacity-50', 'opacity-75');
                easterEggButton.classList.add('opacity-100'); 
                setTimeout(() => {
                    canRedirect = true; 
                }, 1500);
            }
        });
    }

    setupEasterEgg();
    
    document.addEventListener('astro:page-load', setupEasterEgg);
</script>