---
const name = "Alfonso Adiego Luque";
const letters = name.split("");
---
<section class="mt-[5rem] px-[150px]">
    <div class=" grid grid-cols-2 justify-center items-start">
        <div>   
            <h2 class="text-cyan inline-block font-bold tracking-[0.25rem] mb-4 border border-cyan/20 bg-cyan/5 px-3 py-2 rounded-full shadow-[0_0_15px_rgba(0,193,253,0.1)]">
                &lt; Fullstack Developer /&gt;
            </h2>
            <p class="text-text-muted">Bienvenido, soy</p>
            <h1 id="wave" class="mb-[1rem] group">
                {letters.map((letter, i) => (
                    <span 
                    class="wave-letter inline-block"
                    style={`animation-delay: ${i * 0.05}s`}
                    >
                    {letter === " " ? "\u00A0" : letter}
                    </span>
                ))}
            </h1>
            <p class="text-text-muted tracking-[0.15rem] text-sm md:text-base max-w-2xl">
                Desarrollador FullStack Junior, con 1 año de experiencia en el desarrollo de aplicaciones web. Apasionado por la tecnología, la optimización y el desarrollo de software de alta calidad.
            </p>
            <div class="flex gap-4">
                <a href="mailto:alfonsoaldev@gmail.com" class="mt-[1rem] group relative flex items-center justify-start w-10 h-10 btn-cyber text-white rounded-[25px] transition-all duration-500 ease-in-out overflow-hidden hover:w-38 active:scale-95 p-2">
                    <div class="flex items-center justify-center min-w-[24px]">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="currentColor" class="icon icon-tabler icons-tabler-filled icon-tabler-mail">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                        <path d="M22 7.535v9.465a3 3 0 0 1 -2.824 2.995l-.176 .005h-14a3 3 0 0 1 -2.995 -2.824l-.005 -.176v-9.465l9.445 6.297l.116 .066a1 1 0 0 0 .878 0l.116 -.066l9.445 -6.297z" />
                        <path d="M19 4c1.08 0 2.027 .57 2.555 1.427l-9.555 6.37l-9.555 -6.37a2.999 2.999 0 0 1 2.354 -1.42l.201 -.007h14z" />
                        </svg>
                    </div>
                    <span class="ml-4 font-bold whitespace-nowrap opacity-0 group-hover:opacity-100 transition-opacity duration-300">
                    Contáctame
                    </span>
                </a>
                <a href="https://www.linkedin.com/in/alfonso-adiego-luque/" class="mt-[1rem] group relative flex items-center justify-start w-10 h-10 btn-cyber text-white rounded-[25px] transition-all duration-500 ease-in-out overflow-hidden hover:w-33 active:scale-95 p-2">
                    <div class="flex items-center justify-center min-w-[24px]">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="currentColor" class="icon icon-tabler icons-tabler-filled icon-tabler-brand-linkedin"><path stroke="none" d="M0 0h24v24H0z" fill="none" /><path d="M17 2a5 5 0 0 1 5 5v10a5 5 0 0 1 -5 5h-10a5 5 0 0 1 -5 -5v-10a5 5 0 0 1 5 -5zm-9 8a1 1 0 0 0 -1 1v5a1 1 0 0 0 2 0v-5a1 1 0 0 0 -1 -1m6 0a3 3 0 0 0 -1.168 .236l-.125 .057a1 1 0 0 0 -1.707 .707v5a1 1 0 0 0 2 0v-3a1 1 0 0 1 2 0v3a1 1 0 0 0 2 0v-3a3 3 0 0 0 -3 -3m-6 -3a1 1 0 0 0 -.993 .883l-.007 .127a1 1 0 0 0 1.993 .117l.007 -.127a1 1 0 0 0 -1 -1" /></svg>
                    </div>
                    <span class="ml-4 font-bold whitespace-nowrap opacity-0 group-hover:opacity-100 transition-opacity duration-300">
                    LinkedIn
                    </span>
                </a>
            </div>
        </div>
    </div>
</section>

<script>
document.addEventListener('DOMContentLoaded', () => {
    const container = document.getElementById("wave");
    if (!container) return;
    
    const letters = container.querySelectorAll(".wave-letter");

    container.addEventListener("mousemove", (e) => {
      letters.forEach((el) => {
        const r = el.getBoundingClientRect();
        const cx = r.left + r.width / 2;
        const cy = r.top + r.height / 2;

        const dx = e.clientX - cx;
        const dy = e.clientY - cy;

        const dist = Math.sqrt(dx * dx + dy * dy);
        const maxDist = 120;
        const strength = Math.max(0, 1 - dist / maxDist);
        const lift = strength * 20;

        // @ts-ignore
        el.style.transform = `translateY(${-lift}px)`;
      });
    });

    container.addEventListener("mouseleave", () => {
      letters.forEach((el) => {
        // @ts-ignore
        el.style.transform = "translateY(0)";
      });
    });
});
</script>